.idea/encodings.xml
.idea/dictionaries/
.idea/highlighting.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/scopes/
.idea/shelf/
.idea/thriftCompiler.xml
.idea/workspace.xml
.DS_Store
.pids/
*.class
*~
*.pyc
/out/
.pants.run
/.pants.d/
.cache/
/build-support/*.pex
/build-support/*.venv
/build-support/virtualenv-*
.pants.workdir.file_lock
.pants.d/
/build/
