.idea/dictionaries/
.idea/highlighting.xml
.idea/inspectionProfiles/
.idea/scopes/
.idea/shelf/
.idea/thriftCompiler.xml
.idea/workspace.xml
.DS_Store
*.class
*~
*.pyc
/out/
.pants.run
/.pants.d/
/build-support/*.pex
/build-support/*.venv
/build-support/virtualenv-*
