# Enables support for a docker container-based build
# which should provide faster startup times and beefier
# "machines". This is also required in order to use the
# cache configured below.
sudo: false

language: java
jdk:
  - oraclejdk7
cache:
  directories:
  - .cache/intellij
  - .cache/bootstrap

notifications:
  email:
    - fkorotkov@twitter.com

install: ./scripts/setup-ci-environment.sh

env:
  matrix:
    - IJ_ULTIMATE=false
    - IJ_ULTIMATE=true
    - USE_PANTS_TO_COMPILE=false
    - PANTS_SHA=bf5e1d8 TEST_SET=integration # 0.0.54
    - PANTS_SHA=11d89c9 TEST_SET=integration # 0.0.53
    - PANTS_SHA=4719e0d TEST_SET=integration # 0.0.52
    - PANTS_SHA=78d5bb8 TEST_SET=integration # 0.0.51
    - PANTS_SHA=8ae0612 TEST_SET=integration # 0.0.50
    - PANTS_SHA=31fba06 TEST_SET=integration # 0.0.49
    - PANTS_SHA=953cb12 TEST_SET=integration # 0.0.48
    - PANTS_SHA=1fd2293 TEST_SET=integration # 0.0.47

script:
  - ./scripts/run-tests-ci.sh
  # todo: custom integration tests cause Travis-CI builds to hang after enabling caching.
  # - ./scripts/run-custom-integration.sh
  #     -r ./.cache/pants
  #     -t examples/src/scala/org/pantsbuild/example/hello,examples/src/java/org/pantsbuild/example/hello
