sudo: required
dist: trusty

language: java
jdk:
  - oraclejdk8

cache:
  directories:
    - ${HOME}/.cache/pants
    - .cache/bootstrap # See pants.ini [cache.bootstrap]
    - .cache/pants     # Pants downloaded by scripts/setup-ci-environment.sh

notifications:
  email:
    - dmcclanahan@twitter.com

install: ./scripts/setup-ci-environment.sh

# General policy is to support pants for the past 10 releases and the latest master.
env:
  matrix:
    - IJ_ULTIMATE=false PANTS_TEST_JUNIT_TEST_SHARD=0/2
    - IJ_ULTIMATE=false PANTS_TEST_JUNIT_TEST_SHARD=1/2
    - IJ_ULTIMATE=true
    - PANTS_SHA="release_1.3.0.dev5" TEST_SET=jvm-integration
    - PANTS_SHA="release_1.2.1" TEST_SET=jvm-integration
    - PANTS_SHA="release_1.2.0" TEST_SET=jvm-integration

script:
  - ./scripts/run-tests-ci.sh

after_success:
  - scripts/deploy/deploy.sh
