# Enables support for a docker container-based build
# which should provide faster startup times and beefier
# "machines". This is also required in order to use the
# cache configured below.
sudo: false

language: java
jdk:
  - oraclejdk8

cache:
  directories:
    - .cache/bootstrap # See pants.ini [cache.bootstrap]
    - .cache/pants     # Pants downloaded by scripts/setup-ci-environment.sh

notifications:
  email:
    - yic@twitter.com
    - fedor.korotkov@gmail.com

install: ./scripts/setup-ci-environment.sh

# General policy is to support pants for the past 10 releases and the latest master.
env:
  matrix:
    - IJ_ULTIMATE=false
    - IJ_ULTIMATE=true
    - PANTS_SHA="release_1.1.0-pre3"
    - PANTS_SHA="release_1.1.0-pre2"
    - PANTS_SHA="release_1.1.0-pre1"
    - PANTS_SHA="release_1.1.0-pre0"
    - PANTS_SHA="release_1.0.0"
    - PANTS_SHA="release_0.0.82"
    - PANTS_SHA="release_0.0.81"

script:
  - ./scripts/run-tests-ci.sh
  # todo: custom integration tests cause Travis-CI builds to hang after enabling caching.
  # - ./scripts/run-custom-integration.sh
  #     -r ./.cache/pants
  #     -t examples/src/scala/org/pantsbuild/example/hello,examples/src/java/org/pantsbuild/example/hello
